body{
  background-image: url(background.png);
}

.pagina{
  width: 788px;
  height: 278px;
  background-color: darkred;
  margin: auto;
  padding: 9px;
  border-radius: 10px;
  border: 5px solid black;
  overflow: scroll;
}
.sfondo-ferrari{
  background-image: url('ferrari.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
}

.nav{
  height: 40px;
  width: 784px;
  background-color: darkred;
  border: 2px solid black;
  margin-top: 15px;
  border-radius: 10px;
}

.nav:after{
  content: "";
  display: table;
  clear: both;
}

.tst{
  width: 20%;
  float: left;
  color: white;
  text-align: center;
  line-height: 40px;
}

.main{
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

.main:after{
  content: "";
  display: table;
  clear: both;
}

.colonna-sx{
  float: left;
  height: 480px;
  width: 18%;
  text-align: center;
  background-color: grey;
  border-radius: 5px;
  margin-right: 5%;
  padding: 1%;
}

.colonna-c{
  float: left;
  height: 480px;
  width: 48%;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 5px;
  margin-right: 5%;
  padding: 1%;
}

.colonna-dx{
  float: left;
  height: 480px;
  width: 18%;
  text-align: center;
  background-color: grey;
  border-radius: 5px;
  padding: 1%;
}


.footer{
  height: 80px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.fine{
  width: 100%;
  text-align: center;
  line-height: 80px;
}
